<a href="https://colab.research.google.com/github/KS6Git/Python_EDA_Raja/blob/main/Kamal_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print statement in python**

In [ ]:
print( "Hello world")

Hello world

In [ ]:
print("hello Kamaljiet")

hello Kamaljiet

## **Foundational Knowledge**
### **1. Lists - [ ]**

In [ ]:
# Understanding the diff bet Lists, Tuples, Dictionaries and Sets:
# LISTS
[2,4,5,10]

[2, 4, 5, 10]

In [ ]:
list_1 = [2,4,5,10]
list_1

[2, 4, 5, 10]

In [ ]:
print (list_1)

[2, 4, 5, 10]

In [ ]:
# lists can also have different types
list_2 = [2, 3, 'apple', 'monk', False]
list_2

[2, 3, 'apple', 'monk', False]

In [ ]:
# can append to the list
list_2.append(5)
list_2

[2, 3, 'apple', 'monk', False, 5]

In [ ]:
# insert in position 1
list_2.insert(1,'kiwi')
list_2

[2, 'kiwi', 3, 'apple', 'monk', False, 5]

In [ ]:
# remove all occurances
list_3 = [2, 'kiwi', 3, 'apple', 'monk', False, 'kiwi']
list_3.remove('kiwi')
list_3

[2, 3, 'apple', 'monk', False, 'kiwi']

In [ ]:
# list items in the range: 0 - 3
list_3[0:3]

[2, 3, 'apple']

In [ ]:
# Get position of an item in the list
list_4 = [4,5,6,34,546,90,0.5,'monk']
print(list_4[7])

c = 0
for i in list_4:
  if i == 'monk':
    print(c)
  c = c + 1

monk
7

In [ ]:
# Look for all positions of 6
list_4 = [4,5,6,34,546,90,0.5,6,'monk']

c = 0
for i in list_4:
  if i == 6:
    print(c)
  c = c+1

2
7

In [ ]:
# Look for all occurances of 6 and puts in a new_list
list_4 = [4,5,6,34,546,90,0.5,6,'monk']

c = 0
new_list = []
for i in list_4:
  if i == 6:
    print(c)
    new_list.append(c)
  c = c+1
new_list

2
7

[2, 7]

## **2. Tuples - ( )**

In [ ]:
# Tuples are like lists but cannot be changed normally
tup = (1, 3, 4, 'dog', 'apple')

In [ ]:
tup

(1, 3, 4, 'dog', 'apple')

In [ ]:

list_4 = [4,5,6,34,546,90,0.5,6,'monk']
tup = (1, 3, 4, 'dog', 'apple')

print(tup[-1])
print(list_4[-1])

list_4[-1] = 'block'  # Lists are mutable
# tup[-1] = 'block'     Tuples is not mutable; will not work

b = list[tup[-1]]     # unless you convert to a list for eg
print(b)

apple
monk
list['apple']

In [ ]:
# Converting Tuples to a list
new_list = list[tup]
new_list

list[1, 3, 4, 'dog', 'apple']

## **3. Set - { }**

In [ ]:
# Set - does not accept duplicates
set_1 = {1,2,3,4,5,5}
set_1

{1, 2, 3, 4, 5}

In [ ]:
set_1 = {1,2,3,4,5,5}
set_2 = {5,6,2,8,9,9}
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
# what items are on both sets
set_1.intersection(set_2)

{2, 5}

In [ ]:
# what differenciates set_1 that is not in set_2
set_1.difference(set_2)

{1, 3, 4}

In [ ]:
# what differenciates set_2 that is not in set_1
set_2.difference(set_1)

{6, 8, 9}

## **4. Dictionary - { }**

In [ ]:
students = {'name':'raja',
            'age':21,
            'dept':'Data Science'}
students

{'name': 'raja', 'age': 21, 'dept': 'Data Science'}

In [ ]:
students.keys()

dict_keys(['name', 'age', 'dept'])

In [ ]:
students.values()

dict_values(['raja', 21, 'Data Science'])

In [ ]:
students['age']

21

In [ ]:
for k in students.keys():
  print(k,'-',students[k])

name - raja
age - 21
dept - Data Science

In [ ]:
students.items()

dict_items([('name', 'raja'), ('age', 21), ('dept', 'Data Science')])

In [ ]:
for k in students:          # for means repeat a block of code
  print(k,'-',students[k])

name - raja
age - 21
dept - Data Science

In [ ]:
# same as above
for k in students.keys():
  print(k,'-',students[k])

name - raja
age - 21
dept - Data Science

## **Control Flow & Loops**

In [ ]:
a = 2
b = 3
a+b

5

In [ ]:
print(a+b)

5

In [ ]:
type(a)

int

In [ ]:
a += a
print(a)

4

In [ ]:
# Boolean
c = True
d = False
c and d

False

In [ ]:
a,b,c,d

(4, 3, True, False)

In [ ]:
a > b and c > d   #True, False equiv 1, 0

True

# **Functions**

In [ ]:
# Defines a function called greeting, and starts the body with :
def greeting():
    print("Happy New Year - 2026")  # the body does a print
greeting()                          # calling the function

Happy New Year - 2026

### **Defining & calling Function**

In [ ]:
# Define a function called greeting
def greeting():
  print("Happy New Year - 2026")  # the body does a print when called

# _ means: “I don’t care about the loop var”, repeat the foll code 3x, ignoring the counter
# can also use this where i is the loop var : for i in range(3):
# It’s a Python convention for unused variables
for _ in range(3):
  greeting()

Happy New Year - 2026
Happy New Year - 2026
Happy New Year - 2026

In [ ]:
for i in range(2):    # Call the function greeting two times
  greeting()

Happy New Year - 2026
Happy New Year - 2026

In [ ]:
# same as above, Call the function 'greeting' two times
for _ in range(2):
  greeting()

Happy New Year - 2026
Happy New Year - 2026

In [ ]:
# Funtion Definition - 2 parameters
# define a function called sum with 2 parameters, when called will return their sum
def sum(c,d):
  return c+d

In [ ]:
sum(2,3)

5

# **Input Statements**

In [ ]:
# Gets a prompt - always returns a string
name = input("Enter your name ")
print(name)
type(name)

Enter your name 012-kamal
012-kamal

str

In [ ]:
# 2 ways of writing:
x = input("Enter first number: ")
y = input("Enter second number: ")
print(x,y)

Enter first number: 123
Enter second number: 456
123 456

In [ ]:
# or 2nd way:
x, y = input("Enter two numbers: ").split()

Enter two numbers: 123 456
123456

In [ ]:
x = input("Enter first number: ")
y = input("Enter second number: ")
print(int(x) + int(y))      # have to convert the str to int to do addition

Enter first number: 5
Enter second number: 5
10

### **Using if_else statements**

In [ ]:
# input age (str) converted to (int) to do the maths
x = int(input("Enter your age: "))
if x > 21:
  print("Adult")
else:
  print("Under aged")

Enter your age: 18
Under aged

In [ ]:
x, y = input("Enter two numbers: ").split()
print(int(x) + int(y))

Enter two numbers: 3 4
7

# **Find the largest number in a list**

In [2]:
my_list = [2, 5, 3 , 67, 98, 32]

In [21]:
# shows items in the list
my_list

[2, 5, 3, 67, 98, 32]

In [22]:
print(my_list)

[2, 5, 3, 67, 98, 32]

In [19]:
# shows items in the list with index
c = 0
for i in my_list:
  print(c, i)
  c = c + 1

0 2
1 5
2 3
3 67
4 98
5 32

In [36]:
# shows index

for i in my_list:
  print(my_list.index(i))

0
1
2
3
4
5

In [29]:
my_list = [2, 5, 3, 67, 98, 32]

largest_no = my_list[0] # assume 1st element is largest_no

for i in my_list:
  if i > largest_no:
    largest_no = i
print("Largest number =",largest_no)

Largest number = 98

In [93]:
my_list = [2, 5, 3, 67, 98, 32]

smallest_no = my_list[0]
for i in my_list:
  if i < smallest_no:
    smallest_no = i
print("Smallest number =",smallest_no)

Smallest number = 2

# **Write a Python program to count the frequency of elements in a list.**

In [9]:

students = {'name':'raja',
            'age':21,
            'dept':'Data Science'}
students

{'name': 'raja', 'age': 21, 'dept': 'Data Science'}

In [11]:
students.keys()

dict_keys(['name', 'age', 'dept'])

In [12]:
students.values()

dict_values(['raja', 21, 'Data Science'])

In [13]:
students['name']

'raja'

In [59]:
# Just to understand dictionary called occur
# myist = [3, 4, 5, 3, 2, 6, 6, 6, 7 ]

occur_dict = {3: 2, 4: 1, 5: 1, 2: 1, 6: 3, 7: 1}
for key, value in occur_dict.items():
    print(key, ":", value)

3 : 2
4 : 1
5 : 1
2 : 1
6 : 3
7 : 1

In [94]:
  mylist = [3, 4, 5, 3, 2, 6, 6, 7, 6, 7]

  #create a dictionary to add its key & value ... eg 3:1, 6:2
  occur = {}

  #loop items in the list one at a time which are called "i"
  for i in mylist:

  #if i exists in dict occur{}, increment by 1, becomes 3:2, 6:2 etc
    if i in occur:
      occur[i] = occur[i] + 1

  #else  when it is not a key in occur, add it with value=1, so becomes 3:1, 4:1 etc
    else:
      print("item = ", i)
      occur[i] = 1
  print("Frequency of each item = ",occur)
  print(occur.items())

item =  3
item =  4
item =  5
item =  2
item =  6
item =  7
Frequency of each item =  {3: 2, 4: 1, 5: 1, 2: 1, 6: 3, 7: 2}
dict_items([(3, 2), (4, 1), (5, 1), (2, 1), (6, 3), (7, 2)])

In [95]:
# another example
mylist = [3,3,2,4,2,2]
occur = {}

for i in mylist:
  if i in occur:
    occur[i] = occur[i] + 1
    print("  Added in dict",occur)
  else:
    occur[i] = 1
    print("First time",occur)

print("Occur dict with frequency",occur)

First time {3: 1}
  Added in dict {3: 2}
First time {3: 2, 2: 1}
First time {3: 2, 2: 1, 4: 1}
  Added in dict {3: 2, 2: 2, 4: 1}
  Added in dict {3: 2, 2: 3, 4: 1}
Occur dict with frequency {3: 2, 2: 3, 4: 1}

## **Create a dictionary that stores student names as keys and marks as values, then find the student with the highest marks.**

In [179]:
students = {'Raja':85, 'John':25, 'Siva':90}
#students.values()
print(students['Siva'])

# assume that 25 is the largest
largest = 0
s_name = None

for name,marks in students.items():
  if marks > largest:
    largest = marks
    s_name = name
print(s_name,largest)

90
Siva 90